<a href="https://colab.research.google.com/github/NithishXplorer/Python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionaries

# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# Dictionaries are written with curly brackets, and have keys and values

In [ ]:
# creating a dictionary

dict1 = {
    "name" : "Nithish",
    "age" : 21,
    "gender" : "male",
    "cource" : "python",
    "department" : "aids",
    "Hobby" : "playing cricket"
}

print(dict1)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}

In [ ]:
# To calculate the length of the dictionary
length = len(dict1)
print(length)

6

In [ ]:
# Accept multiple data types

thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
# type of the dictionary

print(type(dict1))

<class 'dict'>

In [ ]:
# To access the items in  dictionary

print(dict1["name"])
print(dict1["age"])
print(dict1["gender"])
print(dict1["cource"])
print(dict1["department"])
print(dict1["Hobby"])

Nithish
21
male
python
aids
playing cricket

In [ ]:
x = dict1.get("name")
print(x)

Nithish

In [ ]:
print(dict1.keys())
print("\n")
print(dict1.values())

dict_keys(['name', 'age', 'gender', 'cource', 'department', 'Hobby'])


dict_values(['Nithish', 21, 'male', 'python', 'aids', 'playing cricket'])

In [ ]:
for key,value in dict1.items():
    print(f"{key} : {value}")

name : Nithish
age : 21
gender : male
cource : python
department : aids
Hobby : playing cricket

In [ ]:
# check if the key exist

if "name" in dict1:
    print("Yes, 'name' is one of the keys in the dict1 dictionary")

Yes, 'name' is one of the keys in the dict1 dictionary

In [ ]:
print(dict1)

dict1["name"] = "Mukesh Ram"
print(dict1)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}
{'name': 'Mukesh Ram', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}

In [ ]:
dict1.update({"name":"Nithish"})
print(dict1)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket', 'Father_name': 'Santhosh'}

In [ ]:
# add items in dictionary

dict1["Mother_Name"] = "Shivani"
print(dict1)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket', 'Father_name': 'Santhosh', 'Mother_Name': 'Shivani'}

In [ ]:
# remove an item

# pop
dict1.pop("Mother_Name")
print(dict1)

# pop item -> removes last inserted element
dict1.popitem()
print(dict1)

# del
del dict1["age"]
print(dict1)

# clear
dict1.clear()
print(dict1)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket', 'Father_name': 'Santhosh'}
{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}
{'name': 'Nithish', 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}
{}

In [ ]:
# loop

dict1 = {
    "name" : "Nithish",
    "age" : 21,
    "gender" : "male",
    "cource" : "python",
    "department" : "aids",
    "Hobby" : "playing cricket"
}


for key in dict1.keys():
  print(key)

print("\n")

for value in dict1.values():
  print(value)

print("\n")

for key,value in dict1.items():
  print(key," : ",value)

name
age
gender
cource
department
Hobby


Nithish
21
male
python
aids
playing cricket


name  :  Nithish
age  :  21
gender  :  male
cource  :  python
department  :  aids
Hobby  :  playing cricket

In [ ]:
# copy

dict1 = {
    "name" : "Nithish",
    "age" : 21,
    "gender" : "male",
    "cource" : "python",
    "department" : "aids",
    "Hobby" : "playing cricket"
}

dict2 = dict1.copy()
print(dict2)

print("\n")

dict3 = dict(dict1)
print(dict3)

{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}


{'name': 'Nithish', 'age': 21, 'gender': 'male', 'cource': 'python', 'department': 'aids', 'Hobby': 'playing cricket'}

In [ ]:
# nested dictionary

student = {
    "stud1" :{
        "name" : "Kumar",
        "age" : 21,
        "gender" : "male",
    },
    "stud2" :{
        "name" : "Nithish",
        "age" : 21,
        "gender" : "male",
    },
    "stud3" :{
        "name" : "Mukesh",
        "age" : 21,
        "gender" : "male",
    }
}

print(student)

print("\n")

print(student["stud1"]["name"])
print(student["stud1"]["age"])
print(student["stud1"]["gender"])

print("\n")

print(student["stud2"]["name"])
print(student["stud2"]["age"])
print(student["stud2"]["gender"])

print("\n")

print(student["stud3"]["name"])
print(student["stud3"]["age"])
print(student["stud3"]["gender"])

{'stud1': {'name': 'Kumar', 'age': 21, 'gender': 'male'}, 'stud2': {'name': 'Nithish', 'age': 21, 'gender': 'male'}, 'stud3': {'name': 'Mukesh', 'age': 21, 'gender': 'male'}}


Kumar
21
male


Nithish
21
male


Mukesh
21
male

In [ ]:
"""
Dictionary Methods

Method 	      Description

clear()	      Removes all the elements from the dictionary
copy()	      Returns a copy of the dictionary
fromkeys()	  Returns a dictionary with the specified keys and value
get() 	      Returns the value of the specified key
items()	      Returns a list containing a tuple for each key value pair
keys()	      Returns a list containing the dictionary's keys
pop()	        Removes the element with the specified key
popitem()	    Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	    Updates the dictionary with the specified key-value pairs
values()	    Returns a list of all the values in the dictionary

"""

print("\n")