<a href="https://colab.research.google.com/github/NithishXplorer/Python/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a list

movie = ["The Conjuring", "Hereditary", "Annabelle", "Dabbe", "Siccin", "Insidious", "It"]

songs = ["Kanima", "Hey Minnale","Pookkal Pookkum","Usure Pogudhey", "Kaatrodu Pattam Pola"]

In [ ]:
print(movie)
print("\n")
print(songs)

['The Conjuring', 'Hereditary', 'Annabelle', 'Dabbe', 'Siccin', 'Insidious', 'It']


['Kanima', 'Hey Minnale', 'Pookkal Pookkum', 'Usure Pogudhey', 'Kaatrodu Pattam Pola']

In [ ]:
# Length of the list

length = len(movie)
print("Length of the list Movie is : ",length)

Length of the list Movie is :  7

In [ ]:
# List can allow multiple data types

list1 = ["Nithish",21,7.5,True]
print(list1)

['Nithish', 21, 7.5, True]

In [ ]:
# Type of the list

print(type(list1))

<class 'list'>

In [ ]:
# list() constructor -> To make a list

list2 = list(("apple","orange","mango","water melon","dragon fruit","grapes"))
print(list2)

['apple', 'orange', 'mango', 'water melon', 'dragon fruit', 'grapes']

In [ ]:
# Accessing elements in list

print("Orginal List : ",list2)
print("\n")
print("Last element in the list : ",list2[-1])
print("\nAccessing from starting element : ",list2[0:])
print("\nAccessing Middle element : ",list2[2:4])
print("\nNegative Indexes : ",list2[-4:-1])

Orginal List :  ['apple', 'orange', 'mango', 'water melon', 'dragon fruit', 'grapes']


Last element in the list :  grapes

Accessing from starting element :  ['apple', 'orange', 'mango', 'water melon', 'dragon fruit', 'grapes']

Accessing Middle element :  ['mango', 'water melon']

Negative Indexes :  ['mango', 'water melon', 'dragon fruit']

In [ ]:
# Iteration in list

for item in list2:
  print(item)

apple
orange
mango
water melon
dragon fruit
grapes

In [ ]:
# check if the item present in the list or not

if "water melon" in list2 :
  print("Water Melon is present in the list")

Water Melon is present in the list

In [ ]:
# Changing The element in list

print("Orginal list : ",list2)

list2[2] = "muskmelon"

print("\nAfter chnaging the element in list : ",list2)

Orginal list :  ['apple', 'orange', 'muskmelon', 'water melon', 'dragon fruit', 'grapes']

After chnaging the element in list :  ['apple', 'orange', 'muskmelon', 'water melon', 'dragon fruit', 'grapes']

In [ ]:
# Changing elements with range

print("Orginal list : ",list2)

sub_list = ["banana","cherry"]
list2[1:3] = sub_list

print("\nAfter changing : ",list2)

Orginal list :  ['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

After changing :  ['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

In [ ]:
orginal_list = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
print(orginal_list)

# append item in list -> append() used to append element at last
orginal_list.append("Strawberry")
print("\nAfter appending : ",orginal_list)


# insert -> insert element at any position

orginal_list.insert(2,"kiwi") # here 2 is the position
print("\nAfter inserting element : ",orginal_list)

# extend list
sub_list = ["Blue Berry", "Pineapple", "Papaya"]
orginal_list.extend(sub_list)
print("\nAfter extending : ",orginal_list)

['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

After appending :  ['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes', 'Strawberry']

After inserting element :  ['apple', 'banana', 'kiwi', 'cherry', 'water melon', 'dragon fruit', 'grapes', 'Strawberry']

After extending :  ['apple', 'banana', 'kiwi', 'cherry', 'water melon', 'dragon fruit', 'grapes', 'Strawberry', 'Blue Berry', 'Pineapple', 'Papaya']

In [ ]:
# remove element in the list

orginal_list = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
print("Befor remove a element : ",orginal_list)

orginal_list.remove("cherry")
print("\nAfter remove a element : ",orginal_list)

# pop -> last inserted element will pop
orginal_list.pop(2)
print("\nAfter pop a element : ",orginal_list)

# pop with specified index
orginal_list.pop(1)
print("\nAfter pop a element with specified index : ",orginal_list)

# delete specified index
del orginal_list[0]
print("\nAfter delete specified index : ",orginal_list)

# clear
orginal_list.clear()
print("\nAfter clear element : ",orginal_list)

# delete the list
del orginal_list

Befor remove a element :  ['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

After remove a element :  ['apple', 'banana', 'water melon', 'dragon fruit', 'grapes']

After pop a element :  ['apple', 'banana', 'dragon fruit', 'grapes']

After pop a element with specified index :  ['apple', 'dragon fruit', 'grapes']

After delete specified index :  ['dragon fruit', 'grapes']

After clear element :  []

In [ ]:
print(orginal_list) # The list is completly deleted

NameError: name 'orginal_list' is not defined

In [45]:
orginal_list = ["apple","banana","cherry","water melon","dragon fruit","grapes"]

#looping in the list
for val in orginal_list:
  print(val)

apple
banana
cherry
water melon
dragon fruit
grapes

In [46]:
#printing their position and values

for key,value in enumerate(orginal_list):
  print(key,value)

0 apple
1 banana
2 cherry
3 water melon
4 dragon fruit
5 grapes

In [48]:
# while loop

orginal_list = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
i = 0

while (i < len(orginal_list)):
  print(orginal_list[i])
  i += 1

apple
banana
cherry
water melon
dragon fruit
grapes

In [49]:
# List Comprehension -> you want to create a new list based on the values of an existing list.

orginal_list = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
new_list = []

for val in orginal_list:
  new_list.append(val)

print(new_list)

['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

In [50]:
new_list2 = [val for val in orginal_list if val != "banana"]
print(new_list2)

['apple', 'cherry', 'water melon', 'dragon fruit', 'grapes']

In [52]:
# sort the list

list1 = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
list2 = [100,50,65,82,23]

list1.sort()
list2.sort()

print(list1)
print(list2)

['apple', 'banana', 'cherry', 'dragon fruit', 'grapes', 'water melon']
[23, 50, 65, 82, 100]

In [53]:
# sort the list by descending

list1.sort(reverse = True)
list2.sort(reverse = True)

print(list1)
print(list2)

['water melon', 'grapes', 'dragon fruit', 'cherry', 'banana', 'apple']
[100, 82, 65, 50, 23]

In [54]:
# customize sort function

def myfunc(n):
  return abs(n - 50) # [50,32,15,0,27]

list2.sort(key = myfunc)
print(list2)

[50, 65, 23, 82, 100]

In [55]:
# reverse
list1 = ["apple","banana","cherry","water melon","dragon fruit","grapes"]

list1.reverse()
print(list1)

['grapes', 'dragon fruit', 'water melon', 'cherry', 'banana', 'apple']

In [58]:
# copy list


# by using copy function
list2 = list1.copy()
print(list2)

# by using list function
list3 = list(list1)
print(list3)

# by slicing operator
list4 = list1[:]
print(list4)

['grapes', 'dragon fruit', 'water melon', 'cherry', 'banana', 'apple']
['grapes', 'dragon fruit', 'water melon', 'cherry', 'banana', 'apple']
['grapes', 'dragon fruit', 'water melon', 'cherry', 'banana', 'apple']

In [64]:
# join the list

list1 = ["apple","banana","cherry","water melon","dragon fruit","grapes"]
list2 = [100,50,65,82,23]

list3 = list1 + list2
print(list3)

list4 = []
for val in list2:
  list4.append(val)

print(list4)

list4.extend(list1)
print(list4)

['apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes', 100, 50, 65, 82, 23]
[100, 50, 65, 82, 23]
[100, 50, 65, 82, 23, 'apple', 'banana', 'cherry', 'water melon', 'dragon fruit', 'grapes']

In [ ]:
'''

Method 	  Description

append()	Adds an element at the end of the list
clear()	  Removes all the elements from the list
copy()	  Returns a copy of the list
count()	  Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	  Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	  Sorts the list

'''