<a href="https://colab.research.google.com/github/NithishXplorer/Python/blob/main/oops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Creating class and objects

class class_name :
  def welcome(self) :
    print("Welcome to Class !")

obj = class_name()
obj.welcome() # obj.welcome(obj)

Welcome to Class !

In [10]:
# Creating multiple objects

class Student :
  def __init__(self, name, age, grade) :
    self.name = name
    self.age = age
    self.grade = grade
  def display(self) :
    print(f"Name : {self.name}")
    print(f"Age : {self.age}")
    print(f"Grade : {self.grade}")

obj1 = Student("Nithish",21,"A")
obj2 = Student("Mukesh Ram",20,"O")
obj3 = Student("Sanjith",23,"A")

obj1.display()
print("\n")
obj2.display()
print("\n")
obj3.display()

Name : Nithish
Age : 21
Grade : A


Name : Mukesh Ram
Age : 20
Grade : O


Name : Sanjith
Age : 23
Grade : A