<a href="https://colab.research.google.com/github/NithishXplorer/Python/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Set : A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
# Create a set
set1 = {1,2,3,4,5}
set2 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}
print(set1)
print("\n")
print(set2)

#set accept multiple data types
set3 = {1, "Nithish", 1.2, False}
print("\n")
print(set3)

# type
print("\nType : ",type(set3))

{1, 2, 3, 4, 5}


{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Mukesh', 'John'}


{False, 1, 'Nithish', 1.2}

Type :  <class 'set'>

In [ ]:
# length of the set

print("Length of set1 : ",len(set1))
print("Length of set2 : ",len(set2))

Length of set1 :  5
Length of set2 :  6

In [ ]:
# Convert list to set

list1 = ["Nithish","Berjin","Nithish","Mukesh","Sanjith","John","Aakash","Mukesh"]

set4 = set(list1) # Duplicate elements are removed while converting list to set
print(set4)

{'Sanjith', 'Aakash', 'John', 'Berjin', 'Nithish', 'Mukesh'}

In [ ]:
# Access element in set :

# You cannot access items in a set by referring to an index or a key.
# But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Sanjith
Berjin
Nithish
Aakash
Mukesh
John

In [ ]:
set5 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}

for val in set5 :
  print(val)

print("\n")
print("John" in set5)
print("John" not in set5)
print("Kumar" not in set5)

Sanjith
Berjin
Nithish
Aakash
Mukesh
John


True
False
True

In [ ]:
# add items in set

set5 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}

set5.add("Kumar")
print(set5)


# To add items from another set into the current set, use the update() method.
set5.update(set1)
print(set5)

{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Kumar', 'Mukesh', 'John'}
{'Sanjith', 1, 2, 'Aakash', 'Kumar', 3, 4, 5, 'John', 'Berjin', 'Nithish', 'Mukesh'}

In [ ]:
# You can also add list to set by using update() method

set6 = {1,2,3}
list1 = [4,5,2]

set6.update(list1)
print(set6)

{1, 2, 3, 4, 5}

In [ ]:
# Remove a item

set5 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}
set5.remove("John")
print(set5)

{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Mukesh'}

In [ ]:
set5.remove("John") # If the element not found it raises error

KeyError: 'John'

In [ ]:
# We can remove safely by using discard function

set5.discard("Sanjith")
print(set5)

set5.discard("Sanjith")
print(set5)

{'Berjin', 'Nithish', 'Aakash', 'Mukesh'}
{'Berjin', 'Nithish', 'Aakash', 'Mukesh'}

In [28]:
# loop through set

set5 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}

for val in set5 :
  print(val)

Sanjith
Berjin
Nithish
Aakash
Mukesh
John

In [29]:
# Join Sets

'''

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

'''

'\n\nThere are several ways to join two or more sets in Python.\n\nThe union() and update() methods joins all items from both sets.\n\nThe intersection() method keeps ONLY the duplicates.\n\nThe difference() method keeps the items from the first set that are not in the other set(s).\n\nThe symmetric_difference() method keeps all items EXCEPT the duplicates.\n\n'

In [32]:
set1 = {"Nithish", "Sanjith"}
set2 = {"Mukesh", "John"}
set3 = {"Berjin", "Aakash"}

print(set1)
print(set1)
print(set2)
print("\n")

# Union  ->  We can able to join multiple sets
set1.union(set2,set3)

{'Sanjith', 'Nithish'}
{'Sanjith', 'Nithish'}
{'Mukesh', 'John'}

{'Aakash', 'Berjin', 'John', 'Mukesh', 'Nithish', 'Sanjith'}

In [35]:
# Intersection

set1 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}
set2 = {"Mukesh", "John"}
print(set1)
print(set2)

print("\n")
set1.intersection(set2)

{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Mukesh', 'John'}
{'Mukesh', 'John'}

{'John', 'Mukesh'}

In [36]:
# Difference

set1 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}
set2 = {"Mukesh", "John"}
print(set1)
print(set2)

print("\n")
set1.difference(set2)

{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Mukesh', 'John'}
{'Mukesh', 'John'}

{'Aakash', 'Berjin', 'Nithish', 'Sanjith'}

In [37]:
# we can able to join a set and tuple

set1 = {1,2,3}
tuple1 = {5,6,7}

set1.union(tuple1)

{1, 2, 3, 5, 6, 7}

In [38]:
# symmetric difference

set1 = {"Nithish", "Sanjith", "Mukesh", "John", "Berjin", "Aakash"}
set2 = {"Mukesh", "John","ranjith","suresh"}
print(set1)
print(set2)

print("\n")
set1.symmetric_difference(set2)

{'Sanjith', 'Berjin', 'Nithish', 'Aakash', 'Mukesh', 'John'}
{'Mukesh', 'John', 'ranjith', 'suresh'}

{'Aakash', 'Berjin', 'Nithish', 'Sanjith', 'ranjith', 'suresh'}

In [39]:
# for union we can use | operator

# for intersection we can use & operator

# for difference we can use - operator

# for symmetric we can use ^ operator

set7 = {1,2,3,4,5}
set8 = {4,5,6,7,8}

print(set7 | set8)
print(set7 & set8)
print(set7 - set8)
print(set7 ^ set8)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [40]:
'''

Method 	                      Shortcut 	  Description
add() 	  	                              Adds an element to the set
clear() 	  	                            Removes all the elements from the set
copy() 	  	                              Returns a copy of the set
difference() 	                  - 	      Returns a set containing the difference between two or more sets
difference_update() 	          -= 	      Removes the items in this set that are also included in another, specified set
discard() 	  	                          Remove the specified item
intersection() 	                & 	      Returns a set, that is the intersection of two other sets
intersection_update()   	      &= 	      Removes the items in this set that are not present in other, specified set(s)
isdisjoint() 	  	                        Returns whether two sets have a intersection or not
issubset() 	                    <= 	      Returns whether another set contains this set or not
  	                            < 	      Returns whether all items in this set is present in other, specified set(s)
issuperset() 	                  >= 	      Returns whether this set contains another set or not
  	                            > 	      Returns whether all items in other, specified set(s) is present in this set
pop() 	  	                              Removes an element from the set
remove() 	  	                            Removes the specified element
symmetric_difference() 	        ^ 	      Returns a set with the symmetric differences of two sets
symmetric_difference_update() 	^= 	      Inserts the symmetric differences from this set and another
union() 	                      | 	      Return a set containing the union of sets
update() 	                      |= 	      Update the set with the union of this set and others

'''

print("\n")