<a href="https://colab.research.google.com/github/NithishXplorer/Python/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Tuples in python

# Tuples are immutable ( un changable )

In [2]:
# Creating a tuple

tuple1 = ("apple","orange","banana")
print(tuple1)

('apple', 'orange', 'banana')

In [5]:
# length of the tuple

length = tuple1.__len__()
print(length)

length1 = len(tuple1)
print(length1)

3
3

In [7]:
# Creating tuple with one item

tuple2 = ("apple",)
print(f"{tuple2} is of type {type(tuple2)}")

tuple3 = ("apple")
print(f"{tuple3} is of type {type(tuple3)}")

('apple',) is of type <class 'tuple'>
apple is of type <class 'str'>

In [8]:
# tuple() Constructor

tuple4 = tuple(("apple","orange","banana"))
print(tuple4)

('apple', 'orange', 'banana')

In [9]:
# Accessing the tuples

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

apple
orange
banana

In [10]:
# negative indexing

print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

banana
orange
apple

In [11]:
# range of indexes

print(tuple1[0:2])

('apple', 'orange')

In [14]:
# range of negative indexes

print(tuple1[:-1])

('apple', 'orange')

In [15]:
# Check if Item Exists

if "apple" in tuple1:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [16]:
# Update Tuple

'''

Once a tuple is created, you cannot change its values.
Tuples are unchangeable, or immutable
so we need to convert a tuple into a list, change the list, and convert the list back into a tuple.

'''

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y[1] = "kiwi"
thistuple = tuple(y)

print(thistuple)

('apple', 'kiwi', 'cherry')

In [17]:
# add items

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
# remove items

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [19]:
# Unpack tuples

Names = ("Nithish","Mukesh Ram","Sanjit")
(person1,person2,person3) = Names

print(person1)
print(person2)
print(person3)

Nithish
Mukesh Ram
Sanjit

In [20]:
#Using Asterisk*

Names = ("Nithish","Mukesh Ram","Sanjit","Aakash","John")
(person1,person2,*person3) = Names

print(person1)
print(person2)
print("\n")
print(person3)

Nithish
Mukesh Ram


['Sanjit', 'Aakash', 'John']

In [21]:
# loop in tuples

Names = ("Nithish","Mukesh Ram","Sanjit","Aakash","John")

for val in Names:
  print(val)

Nithish
Mukesh Ram
Sanjit
Aakash
John

In [22]:
i = 0

while(i<len(Names)):
  print(Names[i])
  i+=1

Nithish
Mukesh Ram
Sanjit
Aakash
John

In [23]:
# Join two tuples

tup1 = ("Nithish","Mukesh Ram","Sanjit")
tup2 = ("Aakash","John")

tup3 = tup1 + tup2
print(tup3)

('Nithish', 'Mukesh Ram', 'Sanjit', 'Aakash', 'John')

In [24]:
# Multiply Tuples

tup4 = tup1 * 2
print(tup4)

('Nithish', 'Mukesh Ram', 'Sanjit', 'Nithish', 'Mukesh Ram', 'Sanjit')

In [25]:
'''
Tuple Methods :


Method 	 Description

count()	 Returns the number of times a specified value occurs in a tuple
index()	 Searches the tuple for a specified value and returns the position of where it was found

'''

print('\n')